#about-us-animation-left-right {
  animation: leftRight 5s linear infinite alternate;
}

@keyframes leftRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10%);
  }
}

#about-us-animation-top-bottom {
  animation: run 5s linear infinite alternate;
}

@keyframes run {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10%);
  }
}

/* Partners And Support */
.partnersAndSupports-hr {
  position: absolute;
  height: 1px;
  width: 100%;
  background: lightgray;
  top: calc(50% + 0.5px);
  z-index: 0;
}
