/* ============ Read more Button ============ */

.next-button {
  transform: translate(0%, 0%);
}

.next-link_wrapper {
  position: relative;
}

.next-button a {
  display: block;
  width: 120px;
  padding: 5px;
  text-decoration: none;
  background: #fc4949;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #fc4949;
  transition: all 0.35s;
  border-radius: 0 5px 5px 0;
}

.next-button .icon {
  width: 40px;
  height: 40px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 50%;
  top: 0;
  z-index: -1;
  transition: all 0.35s;
}

.next-button .icon svg {
  width: 25px;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #fc4949;
  transition: all 0.35s;
}

.next-button a:hover {
  width: 140px;
  border: 3px solid #fc4949;
  background: transparent;
  border-radius: 0;
  color: #fc4949;
}

.next-button a:hover + .icon {
  border: 3px solid #fc4949;
  right: 35%;
}

.read-more {
  transition: all 0.35s;
}
.command {
  transition: all 0.35s;
}
.read-more:hover {
  transition: all 0.35s;
  display: inline;
}
.read-more:hover .command {
  transition: all 0.35s;
  color: transparent;
  display: none;
  content: "";
}
